body{
    
    background: linear-gradient(-45deg, #63d397, #c4e3ca, #98d2d5, #e6e084);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
} */
h1{
    margin-top: 22px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 img{
    width: 40px;
}
.container{
    max-width: 955px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: rgb(211, 204, 204);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.message:hover {
    background: rgba( 122, 122, 154, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    font-size: 25px;
  }


.left{
    float: left;
    clear:both;
}

.right{
    float: right;
    clear:both;
}

#send-container{
    
    display:block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

#messageInp:hover{
    background-image: linear-gradient(to right top, #fff2fa, #f8e9f7, #eee2f5, #e2daf3, #d3d4f2, #c4d0ee, #b6cce9, #a7c8e2, #9cc3d6, #93bec9, #8eb8bc, #8bb1af);
 }
.btn{
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn:hover {
    background: rgba( 122, 122, 154, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px; 
    font-size: 25px;
  }
